.searchBar {
    padding: 24px;
}
input{
    max-width: 767px;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    color: rgb(0, 126, 143);
    font-weight: 300;
    border: 1px solid rgb(0, 126, 143);
}
input:focus{
    outline: none;
}